* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}

.header_styling {
    background-color: lightgray;
    padding: 10px;
    flex: 1;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    gap: 10px;
    flex: 7;
}

.background_color {
    background-color: lightgray;
    flex: 1;
    padding: 10px;
}

.footer_styling {
    background-color: lightgray;
    flex: 1;
    padding: 10px;
}